# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows executable
*.dll
*.obj

# Unix executable
*.so
*.a
*.o
*.so.*

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VS User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.ilk
*.pdb
*.iobj
*.ipdb
*.tlog
*.idb

# Visual studio files
*.pch


# Other
*.dat
*.user
*.sdf
*.log
*.aux
*.synctex.gz
**/.vs/
**/x64/
**/obj/
**/Debug/
**/AS_DEBUG/
**/.idea/
**/Temp/vc2008/
**/lib/vc_lib/msw
**/lib/vc_lib/mswd
**/lib/vc_lib/mswu
**/lib/vc_lib/mswud
**/build/msw/vc_msw
**/build/msw/vc_mswd
**/build/msw/vc_mswu
**/build/msw/vc_mswud
**/libs/SFML_1.6/lib
**/libs/SFML_1.6/build/vc2019/
**/libs/wxMSW-3.1.4/lib/vc_lib/*.lib
**/libs/wxMSW-3.1.4/build/msw/vc_mswu/
**/libs/wxMSW-3.1.4/build/msw/vc_mswud/
**/libs/wxMSW-3.1.4/build/msw/vc_mswuddll/
**/libs/wxMSW-3.1.4/build/msw/vc_mswudll/
**/libs/wxMSW-3.1.4/build/msw/vc_x64_mswu/
**/libs/wxMSW-3.1.4/build/msw/vc_x64_mswud/
**/libs/wxMSW-3.1.4/lib/vc_dll/
**/libs/wxMSW-3.1.4/lib/vc_lib/
**/libs/wxMSW-3.1.4/lib/vc_x64_lib/